<div class="bs-example" id="category_res"> 
<div class="row app-list">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<div class="panel panel-rank">
			<div class="panel-heading">
			    <div>编辑图书</div>
			</div> 
			
			<div class="panel-action">
			    <div class="navbar">
					<span><%= link_to "返回", admin_books_list_path, :class => 'navbar-link'%></span>
				</div>
			</div> 
			          
			<div class="row app-list">
			    <%= form_for(@book, :url => admin_update_book_path, method: :put, :html => {:class => "form-horizontal"}) do |f| %>

					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">名称</label>
						<div class="col-lg-10">
						<%= f.text_field :name, :autofocus => true,  :class => "form-control", :placeholder => "名称" %>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">作者</label>
						<div class="col-lg-10">
						<%= f.text_field :author, :class => "form-control", :placeholder => "作者" %>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">出版社</label>
						<div class="col-lg-10">
						<%= f.text_field :publisher, :class => "form-control", :placeholder => "出版社" %>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">出版时间</label>
						<div class="col-lg-10">
						<%= f.text_field :published_at, :class => "form-control", :placeholder => "出版时间" %>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">书币</label>
						<div class="col-lg-10">
						<%= f.text_field :book_coin, :class => "form-control", :placeholder => "书币" %>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">是否发布</label>
						<div class="col-lg-10">
						<%= f.text_field :published,  :class => "form-control", :placeholder => "出版时间" %>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">封面</label>
						<div class="col-lg-10">
						<%= f.file_field :cover, :class => "form-control" %>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">目录</label>
						<div class="col-lg-10">
						<%= f.text_area :contents, :class => "form-control" %>
						</div>
					</div>

					<div class="form-group">
						<label for="apk" class="col-lg-2 control-label">附件</label>
						<div class="col-lg-10">
							<%= f.file_field :attachment,  :class => "form-control" %>
							<%= f.submit "上传", :class => "btn btn-primary", :id => "upload_apk"%>
						</div>
					</div>	


				<% end %>
			</div> 
		</div>
	</div>
	<div class="col-lg-2"></div>
</div>
</div>