<div class="bs-example" id="category_res"> 
<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		<div class="panel panel-rank">
			<div class="panel-heading">
			    <div><%= @book.name%> 章节一览</div>
			</div> 
			
			<div class="panel-action">
			    <div class="navbar">
					<span class="pull-right"><%= link_to_icon "add", admin_new_book_section_path, :class => 'navbar-link'%></span>
				</div>
			</div> 

			<table class="table table-striped">
		        <thead>
		          <tr>
		            <th>章节号</th>
		            <th>名称</th>
		            <th></th>
		            <th></th>
		            <th></th>
		          </tr>
		        </thead>
		        <tbody>
		        <%@sections.each do |section|%>
		         	<tr>
			            <td><%= section.section_number %></td>
			            <td><%= section.name %></td>
						<td><%= link_to_icon "show", admin_show_book_section_path(@book.id, section)%></td>
			            <td><%= link_to_icon "edit", admin_edit_book_section_path(@book.id, section)%></td>
			            <td><%= link_to_icon "delete", admin_destroy_book_section_path(@book.id, section), method: :delete, data: { confirm: '确定删除吗?' }%></td>
		          	</tr>
		        <%end%>
		        </tbody>
		    </table>
		</div>
	</div>
	<div class="col-lg-1"></div>
</div>
</div>