<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
	  <div class="container">
	    <a href="/" class="navbar-brand">挖东西</a>
	    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <div class="nav-collapse collapse bs-navbar-collapse">
	    	<%= render 'shared/nav'%>
	      <ul class="nav navbar-nav pull-right">
	      	<% if user_signed_in? %>
	      	  <li>
	      	  	<%if current_user.try(:admin?)%>
	          		<a href="/admin/cartoons/list">管理</a>
	          	<%else%>
	          		<%= link_to current_user.username, show_user_path(current_user.username)%>
	          	<%end%>
	          </li>
			  <li>
			  <%= link_to('退出', destroy_user_session_path, :method => :delete) %>        
			  </li>
			<% else %>
			  <li>
			  <%= link_to('登录', new_user_session_path)  %>  
			  </li>
			  <li>
			  <%= link_to('注册', new_user_registration_path)  %>  
			  </li>
			<% end %>
	      </ul>
	    </div>
	  </div>
</div>

