<div class="bs-example" id="cartoon_res"> 
  <div class="row">
    <div class="col-lg-2">
    	<div class="panel panel-rank">
    		<div class="panel-heading">漫画资源</div> 
    		<ul class="list-group">
	    		<li class="list-group-item"><a href="#" class="active">色小组漫画</a></li> 
	    		<li class="list-group-item"><a href="#" >TODO</a></li>
	    		<li class="list-group-item"><a href="#" >TODO</a></li>
	    		<li class="list-group-item"><a href="#" >TODO</a></li>   
	    		<li class="list-group-item"><a href="#" >TODO</a></li>
    		</ul>
    	</div>
    </div><!--col-lg-9-->  
  	<div class="col-lg-9">
    	<div class="panel panel-rank">
          	<div class="panel-heading">漫画抓取资源</div> 

          	<table class="table table-striped">
		        <thead>
		          <tr>
		            <th>缩略图</th>
		            <th>标题</th>
		            <th>状态</th>
		            <th>操作</th>
		          </tr>
		        </thead>
		        <tbody>
		        <%@cartoons.each do |cartoon|%>
		          <tr>
		            <td><%= cartoon.thumb_pic_url%></td>
		            <td><%= cartoon.title%></td>
		            <td><%= cartoon.scraped ? display_icon('right') : display_icon('error') %></td>
		            <td>
		            	<% if cartoon.scraped%>
		            		<%= display_icon 'sta_disabled'%>
		            	<%else%>
		            		<%= link_to_icon "download_cartoon", "#", :class => "import", "data-params"=>"{\"cartoon_tmp_id\":#{cartoon.id}}"%>
		            	<%end%>
		            </td>
		          </tr>
		        <%end%>
		        </tbody>
		    </table>

        </div> <!--panel-->
    </div>
    <div class="col-lg-1"></div> 
  </div>
</div>
