<div class="bs-example" id="detail"> 
  <div class="row">
  	<div class="col-lg-12">
      	<div class="panel panel-content">
            <div class="row">
              <div class="col-lg-3 first-col"></div>
              <div class="col-lg-6 bc">
                <ul class="breadcrumb">
          			  <li><a href="/books/index">书库</a></li>
          			  <li class="active"><%= @book.name%></li>
          			</ul>
              </div>
              <div class="col-lg-3 last-col"></div>
            </div>

            <div class="row">
            	<div class="col-lg-3">
              </div>
    	        <div class="col-lg-6 cartoon-img">
	                <div class="row book_contents">
	    	        	  <%= raw @book.contents%>
	                </div>
	                <div class="row comment-area">
	                  <div class="col-lg-4">
	                      <div id="comment_title"><h4>评论</h4></div>
	                  </div>
	                </div>
	                <div class="row comment-cartoon">
	                  <div id="comments_list">
						  <% @book.comments.each do |comment|%>
						    <div class="panel">
						      <div class="comment-header">
						        <h5><%= comment.user.username%> 说:</h5>
						      </div>
						      <div class="comment-body">
						        <%= comment.content%>
						      </div>
						    </div>
						  <%end%>
						</div>

						<div class="panel">
						  <div class="panel-heading">
						    <h4 class="panel-title">评论</h4>
						  </div>

						  <div class="comment-body" id="add_comment_area">
						  	<%= form_for(Comment.new, :url => comments_add_book_comment_path, :html => {:class => "form-horizontal"}) do |f| %>
							        <%= f.hidden_field :book_id, value: @book.id %>
							        <%= f.hidden_field :user_id, value: current_user.id%>
							        <%= f.text_area :content, class: "form-control col-lg-10", rows: 4%>
							        <%= f.submit "发表评论", :class => "btn btn-primary", :id => "add_comment"%>
							<%end%>
						  </div>
						</div>
	                </div>
    	        </div>
              <div class="col-lg-3">
              </div>
            </div>           
      	</div>
    </div> 
    
  </div>
</div>
