<!-- Docs page layout -->
<div class="bs-header" id="top_slider">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
          <div class="bs-example">
            <div class="row">
              <div class="col-lg-7">
        	      <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
        	        <div class="carousel-inner" id="slide_items">
                    <% Cartoon.order("download_number desc")[0..2].each_with_index do |cartoon, index|%>
                      <div class="item <%= "active" if index == 0%>">
                       <%= link_to (image_tag cartoon.thumb_pic.url, :with=>'500px', :height => '400px'), show_cartoons_path(@curr_nav, cartoon.id)%>
                      </div>
                    <%end%>
        	        </div>
        	        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        	          <span class="icon-prev"></span>
        	        </a>
        	        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        	          <span class="icon-next"></span>
        	        </a>
        	      </div>
              </div>
              <div class="col-lg-5">
                <%= link_to 'http://zhushou.360.cn/detail/index/soft_id/717111?recrefer=SE_D_%E5%86%85%E6%B6%B5%E6%BC%AB%E7%94%BB', target: "_blank", class: "btn btn-block btn-success btn-lg" do%>
                  <%= display_icon 'mobile'%>下载APK
                <%end%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
</div>

<div class="bs-example" id="cartoon_list"> 
  <div class='row notice'>
    <div class="col-lg-2"></div>
    <div class="col-lg-8" id="flash_msg">
      <% if flash[:notice]%>
        <div class="row alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><%= flash[:notice] %></div>
      <%end %>
    </div>
   <div class="col-lg-2"></div>
</div>
  <div class="row">
    <div class="col-lg-2"></div>
  	<div class="col-lg-6" id="cartoon_content">
    	  <%if @cartoons.blank? %>
          <div class="row">
            <div class="col-lg-11">
              <div class="alert alert-danger">
                 <strong><%= I18n.t("cartoons.empty")%></strong>
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
        <%else%>
        <div class="panel panel-content">
              <%@cartoons.in_groups_of(3).each do |cartoon_group|%>
                <div class="row cartoon-list">
                  <%cartoon_group.compact.each_with_index do |cartoon, index|%>
                    <div class="col-lg-4 <%= index % 2 == 0 ? "odd" : "even" -%>">
                      <div class="thumbnail">
                        <div class="app-icon">
                          <%= link_to (image_tag cartoon.thumb_pic.url),   show_cartoons_path(@curr_nav, cartoon.id), target: "_blank" %>
                        </div>      
                        <div class="caption">
                          <div class="row cartoon-info">
                            <div class="col-lg-12 cartoon-title"><p class="title"><%= cartoon.title %></p></div>
                          </div>
                          <div class="row cartoon-card">
                            <div class="col-lg-6 cartoon-info">
                              <span class="download-times"><%= display_icon 'download_number', :style=>"width: 16px; height:16px;"%><%= cartoon.download_number %></span>
                            </div>
                            <div class="col-lg-6 cartoon-info"><%= link_to "查看", show_cartoons_path(@curr_nav, cartoon.id), :class => 'btn btn-mini btn-show', target: "_blank"%></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%end%>
                </div> 
              <%end%>
        </div>
      <%end%>
      <div class="row pagination-panel">
            <%= will_paginate @cartoons, :params => {:nav => @curr_nav}%>
      </div>
    </div> <!--col-lg-9-->   
    <div class="col-lg-2">
    	<div class="panel panel-rank" id="cartoon_rank">
    		<ul class="list-group">
          <li class="list-group-item panel-title">
              <h4>漫画下载Top 10</h4>
          </li>
          <%Cartoon.order("download_number desc").limit(10).each_with_index do |cartoon, index|%>
            <li class="list-group-item">
              <span class="badge <%= "badge-success" if index <= 2 %>"><%= index + 1%></span>
              <%=link_to show_cartoons_path(@curr_nav, cartoon.id), "data-toggle"=>"tooltip", title: cartoon.title  do %>
                <%= cartoon.title%>
              <%end%>
            </li>
          <%end%>
    		</ul>
    	</div>
    </div><!--col-lg-9-->  
    <div class="col-lg-2"></div> 
  </div>
</div>
