<!DOCTYPE html>
<html>
<head>
  <title>Digg Thing</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">   
  <meta name="description" content="Cartoon, Sexy">
  <meta name="author" content="Connotive Cartoon">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <script src="../assets/js/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>  
<body>
	<!-- Docs master nav -->
	    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
	  <div class="container">
	    <a href="/" class="navbar-brand">Digg Thing 管理平台</a>
	    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <div class="nav-collapse collapse bs-navbar-collapse">
	      <ul class="nav navbar-nav">
	        <li class="<%= "active" if @curr_nav == "cartoons_scraped"%>">
	          <a href="/admin/cartoons/list">漫画资源</a>
	        </li>
	        <li class="<%= "active" if @curr_nav == "cartoons"%>">
	          <a href="/admin/cartoons/index">漫画管理</a>
	        </li>
	        <li class="<%= "active" if @curr_nav == "scrap_source"%>">
	          <a href="/admin/scrap_sources/list">抓取源</a>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav pull-right">
	      	<% if user_signed_in? %>
	      	  <li>
	          	<a href="/">前台</a>
	          </li>
			  <li>
			  <%= link_to('退出', destroy_user_session_path, :method => :delete) %>        
			  </li>
			<% end %>
	      </ul>
	    </div>
	  </div>
	</div>
	<%= yield %>

</body>
</html>
	